@model Butterfly
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<img src="@Model.ImgURL" alt="Butterfly image" class="img-thumbnail full-width" />
<h5>@Model.Name</h5>
