@model Butterfly
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
    View for single butterfly card
*@
<div>
    <h5 class="name-fly">@Model.Name</h5>
    <img src="@Model.ImgURL" alt="Butterfly image" class="img-thumbnail full-width" />
    @if (Model.IsProtected)
    {
        <p class="is-protect">Protected</p>
    }
</div>
<p>Ranking   : @Model.Ranking.ToString()</p>
<p>Author ID : @Model.AuthorId.ToString()</p>
