@model Butterfly
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
    View for single butterfly card
*@

<h5 class="name-fly">@Model.Name</h5>
<img src="@Model.ImgURL" alt="Butterfly image" class="img-thumbnail full-width" />

