@model Butterfly
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h5 class="name-fly">@Model.Name</h5>
    <img src="@Model.ImgURL" alt="Butterfly image" class="img-thumbnail full-width" />
